*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    
  }

  .sendto{
      width: 500px;
      height: 600px;
      border: solid 2px #0c0;
      position: relative;
      bottom: 60px;
      left: 55vh;
      background-color: black;
      border-radius: 5px;
      
      

  }

  input[type=text],
textarea {
	background: black;
	border: none;
	color: #00dd00;
	font-family: 'VT323', Courier;
	font-size: 80%;
	width: 80%;

}


  

  .user {
    padding: 10px;
    position: relative;
    left: 56px;
    display: inline-block;
    
  }

  #u1, #u2:focus {
    outline: 0px;
  }

  


  .uai {
    background-color: #0c0;
    
  }
  

  
  


  
  .caixamsg {
    overflow-y : auto;
    position: relative;
      width: 400px;
      height: 300px;
      top: 10px;
      border: solid #0c0 1px;
      left: 50px;
      background-color: black;
      border-radius: 15px;

  }



  .textsend {
    position: relative;
    padding-top: 30px;
  }


  #mensagem{
    position: relative;
    padding: 5px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #0c0;;
    box-shadow: 1px 1px 1px #0c0;;
    left: 50px;
    resize: none;
    outline: 0px;
  }

  #mensagem:hover {
    background-color: black;
    border-style: none;
    
  }



  
  


  #lis {
    list-style-type: none;
  }


  input.button {
    border: solid white 2px;
    cursor: pointer;
    border: none;
    color: green;
    background-color: transparent;
    position: relative;
    float: right;
    bottom: 0px;
    right: 53px;
    width: 30px;
    height: 30px;
    bottom: 180px;
    background-image: url(./pngfind.com-email-png-icon-2144737.png);
    background-size: cover;
    background-position: center;
  }




  .screen {
    animation:colorPulse 5s infinite ease-in-out;
    background-image:radial-gradient(#444, #111);
    box-shadow:0 0 5vmin 1vmin #000 inset;
    box-sizing:border-box;
    font-family:'Fira Mono', monospace;
    font-size:20px;
    height:100vh;
    overflow:hidden;
    padding:10vmin;
    width:100vw;
  }
  
  .screen:before {
    animation:wave 10s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
  }
  
  .screen:after {
    background-image:linear-gradient(transparent, transparent 3px, #222);
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
  }
  
  p:last-child:after {
    animation:blink 1s infinite;
    content:"_";
  }
  
  @keyframes colorPulse {
    0%, 100% {
      color:#0c0;
    }
    48%, 52% {
      color:#090;
    }
    50% {
      color:#060;
    }
  }
  
  @keyframes wave {
    0% {
      box-shadow:0 -10vh 20vh #0c0;
      top:-100vh;
    }
    48%, 52% {
      box-shadow:0 -10vh 20vh #090;
    }
    50% {
      box-shadow:0 -10vh 20vh #060;
    }
    100% {
      box-shadow:0 -10vh 20vh #0c0;
      top:200vh;
    }
  }
  
  @keyframes blink {
    50% {
      opacity:0;
    }
  }












  .body2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: gray;
}

.base {
  border-radius: 8px;
  background: black;
  display: flex;
  width: 240px;
  height: auto;
  flex-direction: column;
  padding: 8px 15px;
  font: 7px arial;
  box-shadow: 0px 40px 45px rgba(0, 0, 0, .4);
}

div[class*='line'] {
  display: flex;
  justify-content: space-around;
}

div[class*='line'] + div[class*='line'] {
  margin-top: 10px;
}

.line1,
.line3 {
  padding: 0px;
}

.line2 {
  padding:  0px;
}

div[class*='line'] span {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, .7);
  color: #0c0;
  padding: 10px;
  background: #2F3336;
  border-radius: 5px;
  text-shadow: 0px 0px 40px #0c0, 0px 0px 80px #0c0;
  width: 4px;
  text-align: center;
}

div[class*='line'] span:hover {
  /*   box-shadow: 0px 2px 10px #040404;*/
  
  background: #191b1c;
  text-shadow: 1px 2px 60px #0c0, 0px 0px 60px  #0c0, 0px 0px 60px #0c0, 10px 10px 60px #0c0;
  cursor: pointer
}

div[class*='line'] span:active {
  transform: scale(.6);
}

.line3 span:first-of-type {
  width: 5px;
  padding: 10px 10px;
}

.line3 span:last-of-type {
  width: 15px;
  padding: 10px 10px;
}

.line4 span:nth-child(1) {
  width: 15px
}

.line4 span:nth-child(2) {
  width: 15px;
  padding: 10px 15px;
}

.line4 span:nth-child(3) {
  width: 15px;
  padding: 10px 15px;
}

.line4 span:nth-child(4) {
  width: 15px
}

.line4 span:last-of-type {
  width: 15px
}

#arrow,
#backspace,
#smile,
#mic {
  fill: #0c0;
  width: 10px;
 height:10px;
  -webkit-filter: drop-shadow(0px 2px 20px #0c0)
    filter: drop-shadow(0px 2px 20px #0c0)
}

#arrow:hover,
#backspace:hover,
#smile:hover,
#mic:hover {
  -webkit-filter: drop-shadow(0px 2px 15px ##0c0)
    filter: drop-shadow(0px 2px 15px #0c0)
}





#teclado {
  position: relative;
  left: 37px;
  width: 420px;
  height: 140px;
}